/* Centra todo el contenido en la pantalla */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
  margin: 0;
}

/* Contenedor principal */
.container {
  width: 500px;
  height: 600px;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Contenedor de todas las orejas */
.allEars {
  display: flex;
  justify-content: center;
  gap: 60px;
  transform: translateY(-150px);
}

/* Cada lado de orejas (izquierda y derecha) */
.ears {
  align-items: end;
  display: grid;
  grid-template-columns: auto auto;
}

/* Estilos generales para las orejas */
.ear {
  background-color: #e6d4e7;
  justify-self: center; 
  border: 2px solid black;
  transform: rotate(-10deg);
}

/* Oreja pequeña */
.short {
  width: 20px;
  height: 70px;
  border-radius: 50% 50% 40% 40% / 58% 46% 41% 27%;
}

/* Oreja grande */
.large {
  width: 35px;
  height: 200px;
  border-radius: 92% 40% 54% 28% / 58% 46% 41% 36%;
}

/* Torso */
.torso {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e6d4e7;
  width: 350px;
  height: 400px;
  border-radius: 66% 66% 33% 33% / 50% 50% 50% 50%;
  border: 2px solid black;
  position: relative;
}

/* Cara */
.face {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  margin-top: 20px;
  transform: translateY(-152px);
}

/* Ojos */
.eyes {
  width: 10px;
  height: 15px;
  background-color: black;
  border-radius: 50%;
}

/* Mejillas */
.cheeks {
  width: 40px;
  height: 85px;
  background-color: #99dd99;
  border-radius: 50%;
}

/* Espaciado entre ojos y mejillas */
.leftEye {
  margin-right: 20px;
}

.rightEye {
  margin-left: 20px;
}

.leftCheek {
  margin-right: 80px;
}

.rightCheek {
  margin-left: 80px;
}

/* Pie */
.foot {
  width: 350px;
  height: 100px;
  background-color: #b0a1c9;
  margin-top: 20px;
  border-radius: 66% 66% 33% 33% / 50%;
}

.right {
  transform: scaleX(-1);
}
